{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "jsx-a11y"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  env: {
    browser: true,
    node: true,
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
